.board-container{
  margin: 20px;
}

.board-row{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  
}


.sqr:hover{
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

  opacity: 0.8;
  background-color: aqua;
}